// Paleta de colores "linda"
$primary-color: #89CFF0;    // Azul bebé
$secondary-color: #FDFD96; // Amarillo pastel
$text-color: #333;
$white-color: #FFFFFF;
$bg-color: #F9F9F9;

// Fuentes
$font-family: 'Nunito', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Otros
$border-radius: 15px;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);